@font-face {
  font-family: 'Sukhumvit';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/sukhumvit-set@1.0.3/files/sukhumvit-set-thai-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/sukhumvit-set@1.0.3/files/sukhumvit-set-thai-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/sukhumvit-set@1.0.3/files/sukhumvit-set-thai-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/sukhumvit-set@1.0.3/files/sukhumvit-set-thai-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}